<div class="signup-container">
  <div class="signup-box px-16 pt-6 mb-4" [class.pb-4]="!typeSelected">
    <h1 class="title text-xl">
      Join as <span class="dark">brand</span> or
      <span class="dark">creator</span>
    </h1>
    <section class="flex-row mb-4 gap-6 w-full justify-between">
      <app-user-type-input
        [description]="brandSelectText"
        [selected]="userType === 'brand'"
        (click)="onSelect('brand')"
      ></app-user-type-input>
      <app-user-type-input
        [description]="creatorSelectText"
        [selected]="userType === 'creator'"
        (click)="onSelect('creator')"
      ></app-user-type-input>
    </section>

    <div class="w-full" [class.hidden]="!typeSelected">
      <div class="flex-col w-full text-xs">
        <div class="flex-col mb-3" style="">
          <label class="form-label">Email</label>
          <input
            placeholder="Enter your email address"
            type="email"
            style="outline: none"
            class="text-input"
          />
        </div>
        <div class="flex-col mb-3" style="">
          <label class="form-label">Password</label>
          <input
            placeholder="Enter your email address"
            type="password"
            style="outline: none"
            class="text-input"
          />
        </div>
        <div class="flex-col mb-3" style="">
          <label class="form-label">Confirm Password</label>
          <input
            placeholder="Enter your email address"
            type="password"
            style="outline: none"
            class="text-input"
          />
        </div>
      </div>
      <div class="mb-3" style="">
        <mat-checkbox class="example-margin" [color]="'#8325e7'"
          >I agree to Immerzo's
          <a href="https://google.com" class="text-[#3366CC] hover:underline"
            >Terms of Service</a
          >
          and
          <a href="https://google.com" class="text-[#3366CC] hover:underline">
            Privacy Policy
          </a></mat-checkbox
        >
      </div>
      <button
        mat-button
        type="submit"
        class="teal-button font-bold w-full py-1 mb-3"
      >
        Sign up
      </button>
      <p class="text-center">
        Already have an account?
        <a href="https://google.com" class="text-[#3366CC] hover:underline"
          >Log in</a
        >
      </p>
    </div>
  </div>
  <section class="image-area mb-4">
    <div class="figma-image1-container">
      <img class="rectangle-image" src="../../assets/images/figma_image1.png" />
    </div>
    <div class="figma-image2-container">
      <img class="rectangle-image" src="../../assets/images/figma_image2.png" />
    </div>
  </section>
  <p class="text-area mb-6">
    Create briefs, select from a variety of project templates, such as branded
    games, in-world product placement, VR/AR content, NFT collections and
    digital clothing. Alternatively, you can use our AI-powered system to
    generate new project ideas. Invite Creators to participate in content
    creation.
  </p>
  <div class="left-image">
    <img src="../../assets/images/figma_image3.png" class="rectangle-image" />
  </div>
  <div class="right-image">
    <img src="../../assets/images/figma_image4.png" class="rectangle-image" />
  </div>
</div>
