<div class="user-type-select-container px-5 py-3">
  <div *ngIf="!selected" class="checkbox mb-3"></div>
  <div *ngIf="selected" class="checkbox selected mb-3">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
    >
      <rect
        x="7"
        y="7"
        width="10"
        height="10"
        rx="5"
        fill="#5956FD"
        stroke="#5956FD"
        stroke-width="2"
      />
      <rect
        x="1"
        y="1"
        width="22"
        height="22"
        rx="11"
        stroke="#5956FD"
        stroke-width="2"
      />
    </svg>
  </div>
  <p
    class="text-xs"
    [ngClass]="{ selected: selected }"
    style="font-weight: 500"
  >
    {{ description }}
  </p>
</div>
