.signup-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-box {
  width: 613px;
  height: 993px;
  flex-shrink: 1;
  border-radius: 10px;
  background-color: var(--color-white1, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
}
